<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-31 Драчук Денис</ion-title>
    <ion-title>Варіант 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-title size="large">Завдання №2</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card-content>
      <p>На заданому проміжку чисел [a,b] підрахуйте добуток чисел, кратних 7 і менших, ніж 30.</p>
      <ion-item>
        <ion-label position="floating">Перше число</ion-label>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Друге число</ion-label>
        <ion-input type="number" id="b" value="49" #Inputb></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="res(Inputa.value, Inputb.value)">Розрахунок</ion-button>
      <ion-item>
        <p>Результат обчислення: {{c}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
