<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №3
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-31 Драчук Денис</ion-title>
    <ion-title>Варіант 2</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Каталог газет. Ввести місяць у окремій формі та позначити кольором всі газети, що виходили в певному місяці.</ion-text>
      <ion-button expand="block" (click)="load()">Завантажити</ion-button>
      <ion-item>
        <ion-list>
          <ion-item button *ngFor="let item of data_newspapers; index as i" detail (click)="toggleDetails(i)">
            <ion-label class="list_label_width" *ngIf="!showDetails[i]" text-wrap>
              <p [ngStyle]="{color: item.highlight ? 'green' : 'black'}"> Назва: {{item.name}}<br>
                  Дата: {{item.publishedIn}}
              </p>
            </ion-label>
            <ion-text class="list_text_width" *ngIf="showDetails[i]">
              <p class="item_text_color">Номер {{item.number}}</p>
              <p class="item_text_color item_text_p_width">Кількість сторінок {{item.numberOfPages}}</p>
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-input class="item_input_width" id='date' type="date"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="findNewsPapers()">Знайти</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
